/* # Global Rules */
:root {
    --hex-background-color: #017C81;
    --hex-font-color: #FFAC60;
    --rgb-background-color: 1 124 129;
    --rgb-font-color: 255 172 96;

    box-sizing: border-box;
    color: #000;

}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
}


a {
    text-decoration: none;
}


/* # Header Rules */
.header {
    text-align: center;
}

.header span {
    color: var(--hex-font-color);
}

.head-nav {
    display: flex;
    justify-content: space-evenly;
    border-top: .5px solid #000;
    padding: 10px 0;
}


/* # Hero Design */
.hero {
    height: 200px;
    background-image: 
        url("../img/logo.png"), 
        linear-gradient(to left, var(--hex-background-color) 0% 45%, var(--hex-font-color));
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center;
}


/* # About Rules */
.about-section {
    margin-top: 50px;
    max-height: 500px;
    display: flex;
    background-color: rgb(var(--rgb-background-color) / 35%);
}

.about-section div {
    align-self: center;
    padding-left: 50px;
}

.about-section img {
    max-height: auto;
    width: 100%;
    object-fit: contain;
}


/* # Productos Rules */
h2:has(+ div.productos) {
    text-align: center;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* ## Product Card Rules */
.producto {
    background-color: var(--hex-font-color);
}

.producto header {
    text-align: center;
}

.producto .description {
    padding: 0 20px;
}

.producto img { 
    max-height: 500px;
    width: 100%;
    object-fit: contain;
}


/* # Footer Rules */
.footer {
    margin: 20px 0 40px 0;
    display: flex;
}
.footer section {
    flex-grow: 1;
}
.footer section a {
    display: block;
}