:root {
    --background-color: #017C81;
    --font-color: #FFAC60;

    box-sizing: border-box;
    color: #000;

}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
}


a {
    text-decoration: none;
}

.header {
    text-align: center;
}

.header span {
    color: var(--font-color);
}

.head-nav {
    display: flex;
    justify-content: space-evenly;
    border-top: .5px solid #000;
    padding: 10px 0;
}

.hero {
    height: 250px;
    background-image: 
        url("../img/logo.png"), 
        linear-gradient(to left, var(--background-color) 0% 45%, var(--font-color));
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center;
}

.productos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: 500px; */

}

.producto header {
    text-align: center;
}

.producto .description {
    padding: 0 10px;
}

.producto img { 
    max-height: 500px;
    width: 100%;
    object-fit: contain;
}